.start {
  background-color: darkgreen;
  color: white;
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.submit {
  display: none;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  display: none;
}

.next {
  background-color: #4caf50;
  color: white;
  position: absolute;
  right: 0;
  display: none;
}
.previous,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 40%;
  width: auto;
  margin-top: 30px;
  padding: 16px;
  user-select: none;
}

.answer,
.question,
.radio,
.textLable,
.result,
#UserName,
.timer,
#result,
#answer_1,
#answer_2,
#answer_3,
#answer_4,
.score,
.clear,
.goback {
  display: none;
}

h4 {
  font-size: 10px;
  color: grey;
}

#answer_1,
#answer_2,
#answer_3,
#answer_4 {
  box-sizing: 30px;
  padding: 3px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
}
.submit {
  margin-top: 30px;
}

.result {
  margin-top: 30px;
}
