*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.start {
  background-color: green;
  color: white;
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
a:hover {
  background-color: #ddd;
  color: white;
}

#previous {
  background-color: green;
  color: white;
  display: none;
  border: 1px solid;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#next {
  background-color: green;
  color: white;
  right: 0;
  display: none;
  border: 1px solid;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-left: 10px;
}

.answer,
.question,
.radio,
.textLable,
.result,
#UserName,
.timer,
#result,
#a1,
#a2,
#a3,
#a4,
.score,
#clear,
#goback,
.submit,
h2 {
  display: none;
}

h4 {
  font-size: 10px;
  color: grey;
}

#a1,
#a2,
#a3,
#a4 {
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(86, 164, 248);
  gap: 5px;
}
.submit,
#clear,
#goback {
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: green;
}

.result {
  margin-top: 30px;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  margin-bottom: 20px;
}
.textresult {
  border-top: 1px solid;
  font-style: italic;
  display: none;
}
span {
  color: red;
}
h2 {
  text-align: right;
  color: blue;
  font-size: 15px;
}
h1 {
  color: darkslateblue;
}
h3 {
  font-size: 30px;
}
