.start {
  background-color: darkgreen;
  color: white;
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: grey;
  color: white;
  display: none;
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.next {
  background-color: darkgreen;
  color: white;
  position: absolute;
  right: 0;
  display: none;
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.previous,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 40%;
  width: auto;
  margin-top: 30px;
  padding: 16px;
  user-select: none;
}

.answer,
.question,
.radio,
.textLable,
.result,
#UserName,
.timer,
#result,
#a1,
#a2,
#a3,
#a4,
.score,
.clear,
.goback,
.submit {
  display: none;
}

h4 {
  font-size: 10px;
  color: grey;
}

#a1,
#a2,
#a3,
#a4 {
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: violet;
}
.submit,
.clear,
.goback {
  margin-top: 30px;
  border-style: groove;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: teal;
}

.result {
  margin-top: 30px;
}
